body {
    position: relative;
    padding-top: 10px;
  }
  
.container-fluid{
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 15px;
}

#navbar-everywhere{
    padding-left: 10px;
    margin-bottom: 5px;
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-left: 25px;
}

.source-list{
	padding-bottom: 10px;
}



.dynamic-div {
            width: 100px;
            height: 50px;
            background-color: lightblue;
            margin: 10px;
            text-align: center;
            line-height: 50px;
        }

